<div class="container d-flex flex-column align-items-center justify-content-center">
  <h1>Result</h1>
  <p><%= @score[:message] %></p>
  <p><%= @total.sum %></p>
  <div class="btn btn-primary"><%= link_to 'Play again!', new_path %></div>
</div>
